@page "/ViewAllPosts"
@using Domain.DTOs
@using HttpsClients.ClientInterfaces
@using Domain
@inject IPostService postService
@inject IJSRuntime JSRuntime
@inject NavigationManager Navigation


<div>
    <h3>View All Posts</h3>
    @if (posts != null)
    {
        <ul>
            @foreach (var e in posts)
            {
                <div class="card" @onclick="()=> OpenSpecificPost(e.Id)">
                    <p id="Titlepost">@e.Title</p>
                    <p>Posted by: @e.Username</p>
                <p id="textpost">@e.Body</p>
                <ul class="commentlist">
                @foreach(var c in e.comments)
                {
                    <li class="commentListItem">
                        User @c.username commented:
                         <p id="textpost">@c.text</p>
                    </li>
                   
                }
                </ul>
                </div>
            }
        </ul>
    }
</div>



@code {

    private IEnumerable<Post> posts;
    
    
    //A method that runs when the page is initialized
    protected override async Task OnInitializedAsync()
    {
        await Get();
    }

    private void OpenSpecificPost(int id)
    {
       Navigation.NavigateTo($"SpecificPostPage/{id}");
    }

    private async Task Get()
    {
        try
        {
            GetPostDto dto = new GetPostDto(); 
            posts = await postService.Get(dto);
        }
        catch (Exception e)
        {
            Console.WriteLine(e);
        }
    }
    
    
}